<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GABBLE</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-bar">
          <li class="nav-home"><a href="/home">home</a></li>
          <li class="nav-messages"><a href="/messages">messages</a></li>
          <li class="nav-signup"><a href="/signup">signup</a></li>
        </ul>
    </nav>
    </header>
    <h1>welcome {{#username}}{{.}}{{/username}}</h1>
    <textarea class="newgab" type="text" placeholder="type gab" rows="8" cols="80"></textarea>
    <button type="submit" name="button">submit</button>
    <div class="gabboard">

    </div>

  </body>
  </html>
